@import "tailwindcss";

:root {
  --background: #fcfcfc;
  --foreground: #111111;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-be-vietnam);
  --font-mono: var(--font-geist-mono);
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);

  font-weight: 450;
  text-rendering: optimizeLegibility;

  /* -webkit-font-smoothing: antialiased; */
  /* -moz-osx-font-smoothing: grayscale; */
}

@layer base {
  body[data-scroll-locked] {
    margin-right: 0 !important;
  }
}
